#bigwrapper {
	background-color:#f2f1ef;
	height:97vh;
	width:98vw;
	margin:auto;
}

*{
	font-family: 'Istok Web', sans-serif;
}

#header {
	top:0;
	background-color:#f5d76e;
	height:5%;
}

#changepatient {
	height:100%;
	display:inline-block;
	float:left;
	width:10%;
}

#changepatient img {
	width:100%;
	height:auto;

}
#patientID {
	float:left;
	font-size:15pt;
	display:inline-block;
	width:10%;
	padding-left:4px;
}

.patientIDplaceholder {
	height:100%;
	width:12%;
	display:inline-block;
	float:left;
	font-size:15pt;
}

#ebolastatus{
	float:right;
	font-size:15pt;
	display:inline-block;
	height:100%;
	width:10%;
}

.changeebolastatus {
	height:100%;
	display:inline-block;
	float:right;
	width:10%;
}

.changeebolastatus img {
	width:100%;
	height:auto;
}

#formwrapper {
	width:70%;
	clear:both;
	float:left;
	margin-left:1%;
	background-color:#c8f7c5;
	border:solid 1px #6c7a89;
}

#IDinput {
	text-align:left;
	clear:both;
	height:6%;
	margin-top:2%;
}

#leftcolumn {
	width:50%;
	height:100%;
	float:left;
	clear:both;
	display:inline-block;
	border-right:solid 1px #6c7a89;
	padding:4px;
	margin-top:3px;
}

.fullleftcolumn {
	display:inline-block;
	clear:both;
	width:100%;
	padding-top:2%;
	padding-bottom:2%;
	border-bottom:solid 1px #6c7a89;
}

.notselected {
	display:inline-block;
	width:9.5%;
	text-align:center;
}

#vitals {
	clear:both;
	width:100%;
	height:20%;
	margin-top:2%;
}

#vitalsleftcolumn {
	float:left;
	width:48%;
	height:100%;
	display:inline-block;
}

#vitalsrightcolumn{
	float:left;
	width:48%;
	height:100%;
	display:inline-block;
}

.columnvital {
	width:100%;
	height:25%;
	text-align:left;
	margin-top:6px;
}

.vitalinput {
	width: 60px;
}

.category {
	width:28%;
	display:inline-block;
}
#bleedingcontainer{
	padding-top:4px;
	padding-left:4px;
	border-bottom:solid 1px #6c7a89;
	height:60px;
	margin-top:3px;
}
.bleeding {
	display:block;
}

.bleedingchoices {
	float:right;
	display:inline-block;
	width:80px;
	text-align: center;
	margin-top:7px;
}
.medscontainer {
	padding-left:4px;
	border-bottom:solid 1px #6c7a89;
	padding-bottom:10px;
}
.fluidmanagement {
	padding-left:4px;
	padding-top:4px;
	padding-bottom:4px;
	border-bottom:solid 1px #6c7a89;
}
#rightcolumn{
	display:inline-block;
	width:45%;
	height:100%;
}
#mancontainer{
	background-image: url("images/man.png");
	height:204px;
	width:245px;
	background-repeat:no-repeat;
}

.gridrow{
	height:20.4px;
	width:245px;
}
.leftmancolumn {
	height:20.4px;
	width:20px;
	float:left;
	display:inline-block;
}
.rightmancolumn {
	height:20.4px;
	width:20px;
	float:right;
	display:inline-block;
}
#rightwrapper{
	width:27%;
	display:inline-block;
	float:left;
}
.day {
	height: 30px;
	width:100%;
	background-color:#ecf0f1;
	padding-top:6px;
	padding-left:10px;
}
.time {
	float:right;
	width:30px;
	text-align:center;
	height:100%;
}
#addday {
	height:15px;
	width:50px;
	margin:0 auto;
	background-color:#6c7189;
	border-bottom-left-radius:15px;
	border-bottom-right-radius: 15px;
	text-align:center;
	font-weight:900;
	padding-bottom:4px;
}


.notselected:hover, .bleedingchoices:hover{
	background-color:#bdc3c7;
}

.leftmancolumn:hover, .rightmancolumn:hover {
	background-color:#f1a9a0;
	opacity:.4;
}

.activated{
	border:solid 1px #cf000f;
}

.paininjury {
	background-color:#e74c3c !important;
	opacity:.5;
}

.warning {
	background-color: #f1a9a0;
}

#addday:hover {
	background-color:#7f8c8d;
	color:#ecf0f1;
}

.activatedday{
	background-color:#c8f7c5;
}

.time:hover {
	border-left:solid 1px #6c7a89;
	border-right:solid 1px #6c7a89;
}

#addtime:hover {
	background-color:#ecf0f1;
}